#first
{
  background-color:Black

}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #Black;
}
{

    border-radius: 4px;
    padding: 5px;
    width: 150px;
   position: absolute;
	margin: 0;
	padding: 0;
	top: 40%;
	left: 30%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}
second
{

}
